:root {
    --greatColor: rgba (50, 60, 75, 56)
}
.navBar a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
    padding: 25px;
}
.navBar {
    position: fixed;
    display: inline-block;
    text-align: left;
    right: 20px;
}
.navBar a:hover{
    text-decoration: underline;
}
#button {
    position: fixed;
    bottom: 0px;
    right: 20px;
    background-color: burlywood;
    font-weight: 800;
    border: solid black;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}
#button a {
    text-decoration: none;
    background-color: burlywood;
}
#button:hover {
    background-color: aquamarine;
}
#button a:hover {
    background-color: aquamarine;
}
footer {
    bottom: 0px;
    left: 20px;
    padding: 10px 20px;
}
#btnShop {
    background-color: burlywood;
    font-weight: 800;
    border: solid black;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}
#btnShop a {
    text-decoration: none;
    background-color: cadetblue
    ;
    color: black;
}
body{
    background-image: url(/Photos/Background\ image.jpg);
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr  1fr;
    grid-template-areas: 
    "block1 block2 block3"
    "block4 block5 block6"
    "block7 block8 block9"
    "block10 block11 block12"
}
#sec1 {
    grid-area: block4;
    padding: 5px;
}
#sec2 {
    grid-area: block5;
    padding: 5px;
}
#sec3 {
    grid-area: block6;
    padding: 5px;
}
#sec4 {
    grid-area: block7;
    padding: 5px;
}
#sec5 {
    grid-area: block8;
    padding: 5px;
}
#sec6 {
    grid-area: block9;
    padding: 5px;
}
h3 p {
    border: solid cadetblue;
    text-align: center;
    background-color: rgba(87, 72, 52, 0.8);
}
.submit {
    background-color: burlywood;
    font-weight: 800;
    border: solid black;
}
.about {
    text-align: justify;
    text-align: left;
    background-color: burlywood;
}
.about p {
    background-color: burlywood;
    border: solid cadetblue;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "block1 block2 block3"
    "block4 block5 block6"
    "block7 block8 block9"
}
#Ab1 {
    grid-area: block4;
    border: solid black;
    padding: 5px;
}
#Ab2 {
    grid-area: block6;
    border: solid black;
    padding: 5px;
}

.secHome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "grid1 grid2"
    "grid3 grid4"
}
#HomeInfo {
    column-span: 2;
    grid-area: grid3;
    border: solid black;
}
th,
td {
    border: solid black;
}
.Checkout {
    background-color: burlywood;
    font-weight: 800;
    border: solid black;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}
.Checkout a {
    text-decoration: none;
    background-color: burlywood;
    color: black;
}
.total {
    border: solid black;
    background-color: burlywood;
    font-weight: 800;
}
.cart {
    text-align: left;
}
@keyframes movement {
    0%{
        transform: translateX(1400px);
       }
       100%{
           transform: translateX(1400px);
           transform: scaleX(1);
       }
}
.animation {
    animation-name: movement;
    animation-duration: 10s;
    animation-delay: 1s;
    position: relative;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
.form {
    text-align: center;
}
@media (min-width: 300px) {
    .HI img {
        max-width: auto;
        max-height: auto;
    }
    .navBar {
        max-width: auto;
    }

    .secHome {
        padding: auto;
    }

    #HomeInfo {
        font-size: auto;
    }

    button {
        padding: auto;
    }
}
@media (max-width: 700px) {
    .navBar {
        max-width: auto%;
    }
    .HI img {
        max-width: auto;
    }

    .secHome {
        padding: auto;
        font-size: auto;
    }

    #HomeInfo {
        font-size: auto;
    }

    button {
        padding: auto;
    }
}